<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="extentReportListener.ExtentReportListner"></listener>
	</listeners>
	<test name="Test">
		<groups>
			<run>
				<include name="POM"></include>
			</run>
		</groups>
		<classes>
			<class name="testNg.Login_POM"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
